body {
margin: 0;
font-family: Arial;
background: #0b1220;
color: white;
}

header {
text-align: center;
padding: 20px;
}

.container {
display: flex;
}

.sidebar {
width: 200px;
background: #111a2e;
padding: 10px;
}

.sidebar button {
width: 100%;
margin: 10px 0;
padding: 10px;
border: none;
background: #1c2740;
color: white;
border-radius: 10px;
cursor: pointer;
}

.content {
flex: 1;
padding: 20px;
}

.card {
background: #1c2740;
padding: 20px;
border-radius: 15px;
width: 300px;
}

.hidden {
display: none;
}

input {
width: 100%;
margin: 10px 0;
padding: 10px;
border-radius: 10px;
border: none;
}

button {
padding: 10px;
background: #3b82f6;
border: none;
color: white;
border-radius: 10px;
cursor: pointer;
}

footer {
text-align: center;
margin-top: 50px;
padding: 20px;
background: #0a0f1a;
}

footer img {
width: 100px;
border-radius: 50%;
box-shadow: 0 0 20px blue;
}
